# Projektarbeit Data Analytics

Sebastian Jana,
Sophie Jana

## Inhaltsverzeichnis
<a id ="inhaltsverzeichnis"></a>

[1. Aufgabe](#aufgabe1)

2. Aufgabe

3. Aufgabe

4. Aufgabe
5. Aufgabe
6. Aufgabe

[7. Quellenverzeichnis](#quellenverzeichnis)

### Aufgabe 1 (Datenvorbereitung)
<a id = "aufgabe1"></a>

[Zurück zum Inhaltsverzeichnis](#inhaltsverzeichnis)

a) Einlesen der CSV Dateien, welche die Stromerzeugungsdaten und die Börsenstrompreise enthalten, als Dataframe df_hourly.

Nach dem ersten Zusammenführen haben wir festgestellt, dass die Datumsspalte je nach CSV-Datei unterschiedliche Namen für Sommerzeit und Winterzeit hat. Dies führt dazu, dass beim Zusammenführen zwei separate Spalten entstehen. Um dies zu vermeiden, prüfen wir bereits beim Einlesen der Dateien die Spaltennamen und führen sie zu einer einheitlichen Spalte „Datum“ im df_hourly zusammen

In [8]:
import pandas as pd
import numpy as np
import os
import glob

In [35]:
# Sources for reading csv files from one folder[1],[2]
path = './Daten/Strompreisdaten'
# List all files (.csv) in the given path
csv_files = glob.glob(os.path.join(path, "*csv"))

df_list = []
for i in range(len(csv_files)):
    try:
        df_temp = pd.read_csv(csv_files[i], sep = ",")
        for column in df_temp.columns:
            # Combine the date columns, by getting rid of the naming difference in csv source
            if 'Datum (MESZ)' in column:
                df_temp = df_temp.rename(columns = {'Datum (MESZ)':'Datum'})
            elif 'Datum (MEZ)' in column:
                df_temp = df_temp.rename(columns = {'Datum (MEZ)':'Datum'})
        df_list.append(df_temp)
    except Exception as err: 
        print("Fehler beim Einlesen des Files: ", err)
    
df_hourly = pd.concat(df_list)
df_hourly

,Datum,Leistung nicht erneuerbar (MW),Leistung erneuerbar (MW),Day Ahead Auktion Preis (EUR/MWh)
0,2021-08-16 00:00:00,16015.81,19041.64,68.19
1,2021-08-16 01:00:00,15629.83,19420.11,65.03
2,2021-08-16 02:00:00,15322.51,19738.75,62.08
3,2021-08-16 03:00:00,15026.53,20822.64,60.13
4,2021-08-16 04:00:00,14987.63,21578.78,60.82
...,...,...,...,...
163,2021-04-25 19:00:00,18362.77,18593.89,65.93
164,2021-04-25 20:00:00,19477.05,16565.88,67.88
165,2021-04-25 21:00:00,19214.45,17819.31,66.00
166,2021-04-25 22:00:00,18964.11,18205.01,64.98
167,2021-04-25 23:00:00,18759.39,17537.43,59.98

b) Zur besseren anschließenden Analyse überführen wir die Datumsspalte (vorher dytpe object) in ein Date-Time-Format. Überprüfung, ob nach der Konvertierung invalide Datumswerte existieren, was nicht der Fall ist.
Alle anderen Spalten haben den dtype float64 und werden so belassen.
Entfernung aller Datensätze, die nicht im Betrachtungszeitraum liegen (2020-2024).

In [ ]:
print(df_hourly.shape)
# Converting the column "Datum" from dtype object to DateTime format
# Invalid values are converted to NaT (Not a Time)
# Source: [3]
df_hourly['Datum'] = pd.to_datetime(df_hourly['Datum'], errors="coerce")
print(df_hourly.dtypes)


print(df_hourly['Datum'].isna().any())

# Erstelle eine Spalte mit dem Jahr aus der Datumsspalte
df_hourly['Jahr'] = df_hourly['Datum'].dt.year

# Filter: Jahre außerhalb des Bereichs 2020–2024
df_false_year = df_hourly[(df_hourly['Jahr'] < 2020) | (df_hourly['Jahr'] > 2024)]

print(df_false_year.shape)
df_false_year
#df_hourly = df_hourly[(df_hourly['Datum'] >= '2020-01-01') & (df_hourly['Datum'] <= '2024-12-31')]
#df_hourly.shape
#df_hourly

(43896, 4)
Datum                                datetime64[ns]
Leistung nicht erneuerbar (MW)              float64
Leistung erneuerbar (MW)                    float64
Day Ahead Auktion Preis (EUR/MWh)           float64
dtype: object
False
(48, 5)

,Datum,Leistung nicht erneuerbar (MW),Leistung erneuerbar (MW),Day Ahead Auktion Preis (EUR/MWh),Jahr
0,2019-12-30 00:00:00,14233.89,29930.56,11.07,2019
1,2019-12-30 01:00:00,14154.34,30166.97,11.84,2019
2,2019-12-30 02:00:00,13251.87,30427.25,6.16,2019
3,2019-12-30 03:00:00,13186.11,31289.24,1.40,2019
4,2019-12-30 04:00:00,13045.57,32203.27,4.81,2019
5,2019-12-30 05:00:00,14504.05,32795.80,16.43,2019
6,2019-12-30 06:00:00,15723.80,33329.26,26.90,2019
7,2019-12-30 07:00:00,17142.23,34181.73,30.38,2019
8,2019-12-30 08:00:00,17647.28,35692.01,32.04,2019
9,2019-12-30 09:00:00,17744.92,38669.40,31.90,2019
10,2019-12-30 10:00:00,16966.05,42187.58,29.06,2019
11,2019-12-30 11:00:00,15504.73,44229.29,26.94,2019
12,2019-12-30 12:00:00,15616.61,44990.75,30.30,2019
13,2019-12-30 13:00:00,16391.40,43200.62,30.61,2019
14,2019-12-30 14:00:00,16879.56,39464.46,31.53,2019
15,2019-12-30 15:00:00,17849.29,36176.40,33.61,2019
16,2019-12-30 16:00:00,18235.70,36746.92,35.25,2019
17,2019-12-30 17:00:00,19116.78,38542.80,38.09,2019
18,2019-12-30 18:00:00,19446.00,39461.47,39.35,2019
19,2019-12-30 19:00:00,18810.21,39664.20,31.58,2019
20,2019-12-30 20:00:00,18009.24,39578.32,30.68,2019
21,2019-12-30 21:00:00,17220.98,39681.31,29.67,2019
22,2019-12-30 22:00:00,16653.29,38731.69,29.68,2019
23,2019-12-30 23:00:00,15352.44,37988.99,24.33,2019
24,2019-12-31 00:00:00,14263.16,37176.10,24.14,2019
25,2019-12-31 01:00:00,13720.11,36652.74,22.12,2019
26,2019-12-31 02:00:00,13015.87,36820.61,13.01,2019
27,2019-12-31 03:00:00,12388.32,36918.48,4.97,2019
28,2019-12-31 04:00:00,12818.45,36679.60,9.81,2019
29,2019-12-31 05:00:00,13700.46,35568.84,18.37,2019
30,2019-12-31 06:00:00,15391.86,33813.00,23.50,2019
31,2019-12-31 07:00:00,16992.08,32006.71,27.17,2019
32,2019-12-31 08:00:00,18643.52,31124.77,36.56,2019
33,2019-12-31 09:00:00,19162.51,31860.70,40.43,2019
34,2019-12-31 10:00:00,19347.65,33220.51,32.22,2019
35,2019-12-31 11:00:00,19388.77,34539.04,38.98,2019
36,2019-12-31 12:00:00,19624.11,33456.83,38.60,2019
37,2019-12-31 13:00:00,19387.15,29785.46,37.90,2019
38,2019-12-31 14:00:00,19332.83,25684.92,38.00,2019
39,2019-12-31 15:00:00,19713.09,21176.66,39.58,2019
40,2019-12-31 16:00:00,20159.47,19038.89,42.28,2019
41,2019-12-31 17:00:00,20450.42,18292.28,46.06,2019
42,2019-12-31 18:00:00,20292.18,17614.36,47.73,2019
43,2019-12-31 19:00:00,19807.88,17125.83,46.00,2019
44,2019-12-31 20:00:00,19362.08,16243.37,42.20,2019
45,2019-12-31 21:00:00,19041.35,14927.18,39.74,2019
46,2019-12-31 22:00:00,18913.00,14573.41,38.88,2019
47,2019-12-31 23:00:00,18483.79,14037.87,37.39,2019

c) Beurteilung der Datenqualität und notwenige Datenbereinigungsschritte

### Quellenverzeichnis
<a id = "quellenverzeichnis"></a>

[1] https://www.geeksforgeeks.org/how-to-read-all-csv-files-in-a-folder-in-pandas/

[2] https://statistikguru.de/python/python-auflisten-dateien-verzeichnis.html

[3] https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

[Zurück zum Inhaltsverzeichnis](#inhaltsverzeichnis)